//!!!please change the path of includeConfig 
includeConfig '/home/yehanzhe/email.config'

conda.cacheDir = baseDir/'envs'
process.conda = baseDir/'nextflow_sra.yaml'

profiles{

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'pbspro'
	process.queue= 'all'
    }

}
